@media (320px <= width <= 480px) {
  .btn-music {
    width: 50px;
    height: 50px;
    font-size: 1.5rem;
  }
}

@media (481px <= width <= 767px) and (orientation: landscape) {
  .btn-music {
    width: 50px;
    height: 50px;
    font-size: 1.5rem;
  }
}

@media (768px <= width <= 1023px) {
  .btn-music {
    width: 60px;
    height: 60px;
    font-size: 1.5rem;
  }
}

@media (1024px <= width <= 1199px) {
  .btn-music {
    width: 60px;
    height: 60px;
    font-size: 1.5rem;
  }
}

@media (1200px <= width <= 1919px) {
  .btn-music {
    width: 50px;
    height: 50px;
    font-size: 1.5rem;
  }
}

@media (1920px <= width <= 2660px) {
  .btn-music {
    width: 50px;
    height: 50px;
    font-size: 1.5rem;
  }
}

@media (2661px <= width) {
  .btn-music {
    width: 100px;
    height: 100px;
    font-size: 2.5rem;
  }
}

.btn-music {
  text-align: center;
  border-radius: 100%;
  border: none;
  background: linear-gradient(-45deg, #a9b679 0%, #666f44 90%);
  color: var(--accent-bg);
  position: fixed;
  right: -50px;
  bottom: 20px;
  z-index: 50;
  animation: slideIn 1s ease-in-out 3.1s forwards;
  box-shadow: 0px 5px 20px -5px rgba(0, 0, 0, 0.5);
}

.btn-music .btn-play {
  margin-top: 5px;
  margin-left: 3px;
}

.btn-music .btn-stop {
  margin-top: 5px;
}

@keyframes slideIn {
  0% {
    right: -50px;
  }
  100% {
    right: 20px;
  }
}
