@media (320px <= width <= 479px) {
  .countdown-container {
    gap: 1rem;
    padding: 1rem;
    margin-top: 50px;
    margin-bottom: 10px;

    .number-container {
      .number-bg {
        width: 55px;
        height: 55px;

        .number {
          font-size: 1.5rem;
        }

        .glass {
          width: 45px;
          height: 45px;
        }
      }

      .title {
        p {
          font-size: 1rem;
          margin-top: 5px;
        }
      }
    }

    p {
      font-size: 1.2rem;
    }
  }
}

@media (481px <= width <= 767px) and (orientation: landscape) {
  .countdown-container {
    display: flex;
    justify-content: center;
    gap: 1rem;
    text-align: center;
    padding: 1rem;
    margin-bottom: 10px;
  }

  .countdown-container .number {
    width: 80px;
    height: 80px;
    font-size: 2rem;
    display: flex;
    align-items: center;
    place-content: center;
    background-color: #2f3e5f;
    font-family: "Inter", sans-serif;
    color: #b38d0b;
    margin-bottom: -20px;
  }

  .countdown-container p {
    font-size: 1.5rem;
    color: #8d8d8d;
    font-family: "Roboto", sans-serif;
    font-weight: 600;
    text-align: center;
  }
}

@media (768px <= width <= 1023px) {
  .countdown-container {
    .number-container {
      gap: 1rem;
      padding: 0.7rem;
      margin-top: -10px;
      margin-bottom: 10px;

      .number-bg {
        width: 60px;
        height: 60px;
        .number {
          z-index: 3;
        }

        .glass {
          width: 50px;
          height: 50px;
        }
      }

      .title {
        p {
          font-size: 1.2rem;
          margin-top: -5px;
        }
      }
    }

    p {
      font-size: 1.7rem;
    }
  }
}

@media (1024px <= width <= 1279px) {
  .countdown-container {
    .number-container {
      gap: 1rem;
      padding: 1rem;
      margin-top: -10px;
      margin-bottom: 10px;

      .number-bg {
        width: 70px;
        height: 70px;

        .number {
          font-size: 1.7rem;
          z-index: 3;
        }

        .glass {
          width: 60px;
          height: 60px;
        }
      }

      .title {
        p {
          font-size: 1.3rem;
          margin-top: -5px;
        }
      }
    }

    p {
      font-size: 2rem;
    }
  }
}

@media (1280px <= width <= 1439px) {
  .countdown-container {
    .number-container {
      gap: 1rem;
      padding: 0.7rem;
      margin-top: 15px;
      margin-bottom: 10px;

      .number-bg {
        width: 50px;
        height: 50px;

        .number {
          z-index: 3;
        }

        .glass {
          width: 40px;
          height: 40px;
        }
      }

      .title {
        p {
          font-size: 1.2rem;
          margin-top: -5px;
        }
      }
    }

    p {
      font-size: 1.5rem;
    }
  }
}

@media (1440px <= width <= 1919px) {
  .countdown-container {
    gap: 1.5rem;
    padding: 1rem;
    margin-top: 20px;
    margin-bottom: 10px;

    .number-container {
      .number-bg {
        width: 60px;
        height: 60px;

        .number {
          font-size: 1.5rem;
        }

        .glass {
          width: 50px;
          height: 50px;
          top: 5px;
          left: 5px;
        }
      }

      .title {
        p {
          font-size: 1.4rem;
          margin-top: 5px;
        }
      }
    }

    p {
      font-size: 1.2rem;
    }
  }
}

@media (1920px <= width <= 2600px) {
  .countdown-container {
    gap: 1.5rem;
    padding: 1rem;
    margin-top: 20px;
    margin-bottom: 10px;

    .number-container {
      .number-bg {
        width: 60px;
        height: 60px;

        .number {
          font-size: 1.5rem;
        }

        .glass {
          width: 50px;
          height: 50px;
          top: 5px;
          left: 5px;
        }
      }

      .title {
        p {
          font-size: 1.4rem;
          margin-top: 5px;
        }
      }
    }

    p {
      font-size: 1.2rem;
    }
  }
}

@media (2601px <= width) {
  .countdown-container {
    gap: 3rem;
    padding: 1rem;
    margin-top: 20px;
    margin-bottom: 10px;

    .number-container {
      .number-bg {
        width: 100px;
        height: 100px;

        .number {
          font-size: 2.4rem;
        }

        .glass {
          width: 90px;
          height: 90px;
          top: 5px;
          left: 5px;
        }
      }

      .title {
        p {
          font-size: 1.4rem;
          margin-top: 5px;

          @media (2601px <= width) {
            font-size: 2.2rem;
          }
        }
      }
    }

    p {
      font-size: 1.2rem;
    }
  }
}

.countdown-container {
  display: flex;
  justify-content: center;
  text-align: center;

  .number-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .number-bg {
      background: linear-gradient(-45deg, #a9b679 0%, #666f44 90%);
      /* background: linear-gradient(-45deg, #694f36 0%, #ad8d6f 90%); */
      border-radius: 100%;
      .number {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        font-family: var(--sans);
        color: var(--light);
        /* color: var(--accent-bg); */
        /* text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5); */
        position: relative;
        z-index: 3;
      }

      .glass {
        display: flex;
        align-items: center;
        place-content: center;
        position: relative;
        border-top-left-radius: 100px;
        border-top-right-radius: 100px;
        top: 5px;
        left: 5px;
        background: linear-gradient(
          180deg,
          rgba(255, 255, 255, 0.3) 0%,
          rgba(255, 255, 255, 0) 70%
        );

        z-index: 2;
      }
    }
  }

  p {
    color: var(--text-h);
    font-family: var(--system);
    font-weight: 300;
    text-align: center;
  }
}
