.ViewLandscape-container {
  width: 100dvw;
  height: 100dvh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;
  background-color: var(--bg-light);
  background-color: var(--bg-light);
  background-image: url(../../assets/paper-texture.png);
  background-repeat: repeat;
  background-size: 100%;
  overflow: hidden;

  .flower-top {
    position: absolute;
    top: -2rem;
    left: -1.5rem;
    width: 12rem;
  }

  .flower-bottom {
    position: absolute;
    bottom: -2rem;
    right: -1.5rem;
    width: 12rem;
  }

  h2 {
    font-weight: 500;
    font-family: var(--alternative);
    font-size: 5rem;

    span {
      font-family: var(--sans);
      color: var(--text);
      font-weight: 500;
      font-style: italic;
      font-size: 2.5rem;
      margin-left: 10px;
    }
  }

  p {
    font-family: var(--sans);
    color: var(--text);
    margin-top: -1rem;
    font-size: 1.5rem;
  }

  h5 {
    width: 60%;
    font-size: 1.5rem;
    font-weight: 400;
    text-align: center;
    font-family: var(--system);
    font-weight: 300;
    color: var(--text);
    margin-top: 2rem;
  }
}
