.wedding-calendar {
  padding: 20px;
  position: relative;
  overflow: hidden;

  @media (320px <= width <= 479px) {
    width: 95%;
    margin-bottom: -50px;
  }

  @media (768px <= width <= 1023px) {
    width: 110%;
    margin-bottom: 30px;
  }

  @media (1024px <= width <= 1279px) {
    width: 105%;
    margin-bottom: 30px;
  }

  @media (1280px <= width <= 1439px) {
    width: 100%;
  }

  @media (1440px <= width <= 1919px) {
    width: 105%;
  }

  @media (1920px <= width <= 2600px) {
    width: 105%;
  }

  @media (2601px <= width) {
    width: 105%;
  }
}

/* Marco interior */

.wedding-calendar::before {
  content: "";
  position: absolute;
  inset: 10px;
  border: 1px solid var(--principal);
  pointer-events: none;
}

/* Líneas decorativas */

.calendar-inner {
  z-index: 2;
  padding: 0px;
}

/* =========================
   MES
========================= */

.month-container {
  display: flex;
  align-items: center;
  justify-content: center;

  h2 {
    font-family: var(--serif);
    font-weight: 500;
    letter-spacing: 2px;
    color: var(--text-h);

    @media (320px <= width <= 2600px) {
      font-size: 1.5rem;
    }

    @media (2601px <= width) {
      font-size: 2.5rem;
    }
  }
}

/* =========================
   DÍAS SEMANA
========================= */

.weekdays {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  margin-top: 10px;
  padding: 5px 0;
  border-top: 1px solid var(--principal);
  border-bottom: 1px solid var(--principal);
}

.weekdays span {
  color: var(--text-h);
  text-align: center;
  font-family: var(--serif);

  @media (320px <= width <= 479px) {
    font-size: 1rem;
  }

  @media (2601px <= width) {
    font-size: 2rem;
  }
}

/* =========================
   GRID
========================= */

.calendar-grid {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  row-gap: 0px;
  padding-top: 8px;
}

.calendar-day {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  font-family: "Cormorant Garamond", serif;

  @media (320px <= width <= 2600px) {
    height: 33px;
    font-size: 1.2rem;
  }

  @media (2601px <= width) {
    height: 80px;
    font-size: 2.5rem;
  }
}

/* =========================
   FECHA BODA
========================= */

.calendar-day.wedding-day {
  background-color: transparent;
  font-weight: 600;
  color: var(--light);
  z-index: 11;

  .day-number {
    color: var(--principal);
    position: absolute;
    z-index: 10;
  }

  .day-wedding {
    color: var(--light);
    position: absolute;
    z-index: 10;
  }
}

/* =========================
   RESPONSIVE
========================= */

/* @media (max-width: 600px) {
  .wedding-calendar {
    padding: 22px;

    border-width: 1px;
  }

  .calendar-inner {
    padding: 25px 15px 20px;
  }

  .calendar-header h1 {
    font-size: 34px;
  }

  .calendar-day {
    height: 38px;

    font-size: 16px;
  }

  .wedding-day::before {
    width: 34px;
    height: 34px;
  }

  .month-container h2 {
    font-size: 21px;
  }

  .month-container h2 small {
    font-size: 14px;
  }

  .weekdays span {
    font-size: 15px;
  }
} */

.heart {
  background-color: transparent;
  fill: var(--principal);
  animation: pulseHeart 0.8s infinite alternate;
  z-index: 1;

  @media (320px <= width <= 2600px) {
    width: 35px;
    height: 35px;
    margin-top: 15px;
  }

  @media (2601px <= width) {
    width: 70px;
    height: 70px;
    margin-top: 25px;
  }
}

@keyframes pulseHeart {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.2);
  }
}
