.carrusel-container {
  width: 100%;
  height: 100dvh;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image:
    linear-gradient(
      180deg,
      rgba(251, 253, 232, 0.6) 10%,
      rgba(255, 255, 255, 1) 50%,
      rgba(251, 253, 232, 0.6) 100%
    ),
    url(../../assets/paper-texture.png);

  background-repeat: repeat;
  background-size: 100%;
  position: relative;
  padding: 1rem;

  .carousel-fade {
    position: relative;
    outline: 2px solid var(--text-h);
    outline-offset: 8px;
    margin-bottom: 50px;

    @media (320px <= width <= 480px) and (max-height: 667px) {
      width: 85%;
      min-height: 430px;
      margin-top: 3rem;
    }

    @media (320px <= width <= 479px) and (min-height: 668px) and (max-height: 955px) {
      width: 90%;
      min-height: 600px;
      height: 680px;
      margin-top: 3rem;
    }

    @media (320px <= width <= 479px) and (min-height: 956px) {
      width: 90%;
      min-height: 700px;
      height: 750px;
      margin-top: 4rem;
    }

    @media (768px <= width <= 1023px) and (max-height: 1024px) {
      width: 85%;
      min-height: 700px;
      height: 750px;
      margin-top: 4rem;
    }

    @media (768px <= width <= 1023px) and (min-height: 1025px) {
      width: 85%;
      min-height: 700px;
      height: 750px;
      margin-top: 7rem;
    }

    @media (1024px <= width <= 1279px) {
      width: 85%;
      min-height: 700px;
      height: 750px;
      margin-top: 10rem;
    }

    @media (1280px <= width <= 1439px) {
      width: 85%;
      min-height: 450px;
      height: 500px;
      margin-top: 3rem;
    }

    @media (1440px <= width <= 1919px) {
      width: 85%;
      min-height: 600px;
      height: 650px;
      margin-top: 7rem;
    }

    @media (1920px <= width <= 2600px) {
      width: 75%;
      min-height: 500px;
      height: 550px;
      margin-top: 6rem;
    }

    @media (2601px <= width) {
      width: 70%;
      min-height: 1300px;
      height: 1350px;
      margin-top: 14rem;
    }

    .flower-corner-1 {
      position: absolute;
      z-index: 5;

      @media (320px <= width <= 479px) and (max-height: 667px) {
        width: 180px;
        height: 180px;
        top: -2.5rem;
        right: -2.5rem;
      }

      @media (320px <= width <= 479px) and (min-height: 668px) and (max-height: 955px) {
        width: 220px;
        height: 220px;
        top: -3rem;
        right: -3rem;
      }

      @media (320px <= width <= 479px) and (min-height: 956px) {
        width: 250px;
        height: 250px;
        top: -3rem;
        right: -3rem;
      }

      @media (768px <= width <= 1023px) and (max-height: 1024px) {
        width: 280px;
        height: 280px;
        top: -3.5rem;
        right: -3.5rem;
      }

      @media (768px <= width <= 1023px) and (min-height: 1025px) {
        width: 280px;
        height: 280px;
        top: -3.5rem;
        right: -3.5rem;
      }

      @media (1024px <= width <= 1279px) {
        width: 280px;
        height: 280px;
        top: -3.5rem;
        right: -3.5rem;
      }

      @media (1280px <= width <= 1439px) {
        width: 200px;
        height: 200px;
        top: -2.5rem;
        right: -2.5rem;
      }

      @media (1440px <= width <= 1919px) {
        width: 250px;
        height: 250px;
        top: -3rem;
        right: -3rem;
      }

      @media (1920px <= width <= 2600px) {
        width: 250px;
        height: 250px;
        top: -3rem;
        right: -3rem;
      }

      @media (2601px <= width) {
        width: 250px;
        height: 250px;
        top: -3rem;
        right: -3rem;
      }
    }

    .flower-corner-2 {
      position: absolute;
      z-index: 7;

      @media (320px <= width <= 479px) and (max-height: 667px) {
        width: 180px;
        height: 180px;
        bottom: -2.5rem;
        left: -2.5rem;
      }

      @media (320px <= width <= 479px) and (min-height: 668px) and (max-height: 955px) {
        width: 220px;
        height: 220px;
        bottom: -3rem;
        left: -3rem;
      }

      @media (320px <= width <= 479px) and (min-height: 956px) {
        width: 250px;
        height: 250px;
        bottom: -3rem;
        left: -3rem;
      }

      @media (768px <= width <= 1023px) and (max-height: 1024px) {
        width: 280px;
        height: 280px;
        bottom: -3.5rem;
        left: -3.5rem;
      }

      @media (768px <= width <= 1023px) and (min-height: 1025px) {
        width: 280px;
        height: 280px;
        bottom: -3.5rem;
        left: -3.5rem;
      }

      @media (1024px <= width <= 1279px) {
        width: 280px;
        height: 280px;
        bottom: -3.5rem;
        left: -3.5rem;
      }

      @media (1280px <= width <= 1439px) {
        width: 200px;
        height: 200px;
        bottom: -2.5rem;
        left: -2.5rem;
      }

      @media (1440px <= width <= 1919px) {
        width: 250px;
        height: 250px;
        bottom: -3rem;
        left: -3rem;
      }

      @media (1920px <= width <= 2600px) {
        width: 250px;
        height: 250px;
        bottom: -3rem;
        left: -3rem;
      }

      @media (2601px <= width) {
        width: 250px;
        height: 250px;
        bottom: -3rem;
        left: -3rem;
      }
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  .cita {
    color: var(--text);
    font-family: var(--system);
    font-weight: 300;
    text-align: center;

    @media (320px <= width <= 480px) {
      width: 80%;
      font-size: 1rem;
      line-height: 18px;
      margin-bottom: 10px;
    }

    @media (768px <= width <= 1023px) and (max-height: 1024px) {
      width: 80%;
      font-size: 1.2rem;
      line-height: 18px;
      margin-bottom: 20px;
    }

    @media (768px <= width <= 1023px) and (min-height: 1025px) {
      width: 80%;
      font-size: 1.3rem;
      line-height: 30px;
      margin-top: 30px;
      margin-bottom: 30px;
    }

    @media (1024px <= width <= 1279px) {
      width: 80%;
      font-size: 1.5rem;
      line-height: 30px;
      margin-top: 50px;
      margin-bottom: 30px;
    }

    @media (1280px <= width <= 1439px) {
      width: 85%;
      font-size: 1.1rem;
      line-height: 20px;
    }

    @media (1440px <= width <= 1919px) {
      width: 85%;
      font-size: 1.2rem;
      line-height: 25px;
      margin-top: 10px;
      margin-bottom: 30px;
    }

    @media (1920px <= width <= 2600px) {
      width: 70%;
      font-size: 1.2rem;
      line-height: 25px;
      margin-top: 10px;
      margin-bottom: 20px;
    }

    @media (2601px <= width) {
      width: 65%;
      font-size: 2.2rem;
      line-height: 50px;
      margin-top: 70px;
      margin-bottom: 20px;
    }
  }

  .end-title {
    font-weight: 300;
    font-family: var(--cursive);
    color: var(--text-h);
    text-align: center;

    @media (320px <= width <= 480px) {
      width: 90%;
      font-size: 2rem;
    }

    @media (768px <= width <= 1023px) and (max-height: 1024px) {
      width: 90%;
      font-size: 3rem;
    }

    @media (768px <= width <= 1023px) and (min-height: 1025px) {
      width: 90%;
      font-size: 3rem;
    }

    @media (1024px <= width <= 1279px) {
      width: 90%;
      font-size: 3.5rem;
      margin-top: 50px;
    }

    @media (1280px <= width <= 1439px) {
      width: 90%;
      font-size: 2.3rem;
      margin-top: 20px;
    }

    @media (1440px <= width <= 1919px) {
      width: 90%;
      font-size: 2.5rem;
    }

    @media (1920px <= width <= 2600px) {
      width: 90%;
      font-size: 2.7rem;
      margin-top: 20px;
    }

    @media (2601px <= width) {
      width: 90%;
      font-size: 4.7rem;
      margin-top: 50px;
    }
  }
}
