:root {
  --principal: #666f44;
  --bg: #bac09580;
  --bg-light: #fbfde8;
  --light: #fff;
  --accent-bg: #ffc402;
  --text-h: #967e48;
  --text: #6b6b6b;
  --sans: "Bodoni Moda", serif;
  --cursive: "Parisienne", Consolas, monospace;
  --alternative: "Tangerine", cursive;
  --system: "Sniglet", system-ui;

  --displacement: 190px;
  --heigh: 90dvh;

  @media (max-width: 1024px) {
    font-size: 16px;
  }
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;

  @media (320px <= width <= 479px) {
    width: 100svw;
    height: 100svh;
  }

  @media (480px <= width <= 767px) {
    width: 100lvw;
    height: 100lvh;
  }

  @media (768px <= width) {
    width: 100dvw;
    height: 100dvh;
    background-image: url(./assets/paper.png);
    background-repeat: repeat;
    background-size: 10%;
  }

  .content {
    -ms-overflow-style: none; /*IE and Edge*/
    scrollbar-width: none; /* Firefox */
    position: relative;
    overflow-x: hidden;

    @media (320px <= width <= 767px) {
      width: 100svw;
    }

    @media (768px <= width <= 1023px) {
      width: 60%;
      box-shadow: 0px 0px 70px rgba(128, 111, 111, 0.5);
    }

    @media (1024px <= width <= 1199px) {
      width: 60%;
      box-shadow: 0px 0px 70px rgba(128, 111, 111, 0.5);
    }

    @media (1200px <= width <= 2600px) {
      width: 30%;
      box-shadow: 0px 0px 70px rgba(128, 111, 111, 0.5);
    }

    @media (2601px <= width) {
      width: 25%;
      box-shadow: 0px 0px 70px rgba(128, 111, 111, 0.5);
    }
  }
}

h1,
h2 {
  font-weight: 500;
  color: var(--text-h);
}
