.envelope-container {
  width: 100dvw;
  height: 100dvh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow-x: hidden;
  overflow-y: scroll;
  position: relative;
  background-color: var(--bg-light);
  background-image: url(../../assets/paper-texture.png);
  background-repeat: repeat;
  background-size: 100%;

  .top-flowers {
    position: absolute;
    top: 0;

    @media (320px <= width <= 479px) {
      width: 45%;
      left: -30px;
    }
  }

  .bottom-flowers {
    position: absolute;
    bottom: 0;

    @media (320px <= width <= 479px) {
    }
    width: 45%;
    right: -30px;
  }

  .title-envelope {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 2rem;
    margin-top: -3rem;

    h2 {
      font-weight: 500;
      font-family: var(--alternative);

      @media (320px <= width <= 479px) {
        font-size: 4.5rem;
      }

      span {
        font-family: var(--sans);
        color: var(--text);
        font-weight: 500;
        font-style: italic;

        @media (320px <= width <= 479px) {
          font-size: 2rem;
          margin-left: 10px;
        }
      }
    }

    p {
      font-family: var(--sans);
      color: var(--text);
      margin-top: -1rem;

      @media (320px <= width <= 479px) {
        font-size: 1.5rem;
      }
    }
  }
}

.envelope {
  position: relative;
  cursor: pointer;
  perspective: 1000px;
  background-image: url("../../assets/sobre/bg-envelope.png");
  box-shadow: rgba(0, 0, 0, 0.25) 0px 30px 40px;
  /* animation: shake 0.5s ease-in-out 3s; */

  @media (320px <= width <= 479px) {
    width: 90%;
    height: 35%;
  }

  .top-envelope {
    width: 100%;
    display: flex;
    justify-content: space-between;
    position: absolute;
    top: 0;
    bottom: 0;

    img {
      width: 100%;
      height: 69.8%;
      position: absolute;
      top: 0;
      filter: drop-shadow(0px 7px 7px rgba(0, 0, 0, 0.5));
    }
  }

  .bottom-envelope {
    width: 100%;
    display: flex;
    justify-content: space-between;
    position: absolute;
    top: 0;
    bottom: 0;

    img {
      width: 100%;
      height: 69.8%;
      position: absolute;
      bottom: 0;
      filter: drop-shadow(0px 3px 5px rgba(0, 0, 0, 0.5));
    }
  }

  .sides {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    position: absolute;
    top: 0;

    img {
      height: 100%;
      object-fit: cover;
      filter: drop-shadow(0px 10px 20px rgba(0, 0, 0, 0.5));
    }
  }
}

/* Carta */

.letter {
  position: absolute;
  width: 95%;
  height: 50%;
  left: 2.5%;
  bottom: 0;
  opacity: 0;
  overflow: hidden;
  background: #fffdfb;
  display: flex;
  flex-direction: column;
  /* justify-content: flex-start; */
  align-items: center;
  text-align: center;
  border-radius: 3px;
  padding: 1rem;
  box-shadow: 0px 5px 20px -5px rgba(0, 0, 0, 0.5);

  .novios {
    width: 100%;
    /* min-height: 350px; */
    height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* background-color: #6d5a5d; */
    /* overflow: hidden; */
    margin-bottom: 130px;
    padding: 1.5rem;

    img {
      width: 120%;
      margin-top: 120px;
    }
  }

  h3 {
    width: 85%;
    font-size: 1rem;
    font-weight: 300;
    color: var(--text);
    font-family: var(--system);
    margin-bottom: -40px;
  }

  .date-wedding {
    font-size: 2.7rem;
    font-family: var(--alternative);
    margin-top: 60px;

    span {
      color: var(--text);
    }
  }

  .title-letter {
    margin-bottom: 25px;

    h2 {
      font-weight: 500;
      font-family: var(--alternative);

      @media (320px <= width <= 479px) {
        font-size: 3.5rem;
      }

      span {
        font-family: var(--sans);
        color: var(--text);
        font-weight: 500;
        font-style: italic;

        @media (320px <= width <= 479px) {
          font-size: 1.8rem;
          margin-left: 10px;
        }
      }
    }
  }
}

/* Frente */

/* .envelope-front {
  width: 100%;
  height: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  background-image:
    linear-gradient(
      180deg,
      rgba(39, 43, 24, 0.8) 45%,
      rgba(102, 111, 68, 0.75) 140%
    ),
    url("../../assets/sobre/olivo-texture.jpg");
  clip-path: polygon(0 0, 50% 60%, 100% 0, 100% 100%, 0 100%);

  z-index: 4;
} */

/* Sello */

.seal {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 6;

  @media (320px <= width <= 479px) {
    width: 80px;
    height: 80px;
    transform: translate(-50%, 20%);
  }

  img {
    width: 100%;
    filter: drop-shadow(0px 7px 7px rgba(0, 0, 0, 0.5));
  }
}

/* Texto */

.open-text {
  margin-top: 30px;
  color: var(--text-h);
  font-family: var(--cursive);
  font-size: 1.8rem;

  animation: pulse 2s infinite;
}

/* ---------------- */
/* SOBRE ABIERTO */
/* ---------------- */

.envelope-container.opened .top-envelope .flap {
  animation: flip 1s forwards;
}

.envelope-container.opened .letter {
  animation:
    changeSize 1.5s 0.5s forwards,
    changeSize2 1.5s ease 2s forwards;
}

@keyframes pulse {
  0% {
    opacity: 0.5;
  }

  50% {
    opacity: 1;
  }

  100% {
    opacity: 0.5;
  }
}

@keyframes changeSize {
  0% {
    opacity: 0;
    height: 0px;
    z-index: -1;
  }
  50% {
    opacity: 1;
  }

  100% {
    opacity: 1;
    height: 450px;
    z-index: -1;
    transform: translateY(-350px);
  }
}

@keyframes changeSize2 {
  0% {
    transform: translateY(-350px);
    opacity: 1;
  }
  100% {
    transform: translateY(205px);
    height: 90dvh;
    z-index: 10;
  }
}

@keyframes flip {
  0% {
    z-index: 5;
  }
  100% {
    top: -69%;
    transform: scaleY(-1);
    z-index: -1;
  }
}

@keyframes shake {
  0%,
  100% {
    transform: translateX(0);
  }
  20%,
  60% {
    transform: translateX(-10px);
  }
  40%,
  80% {
    transform: translateX(10px);
  }
}
